/* App.css */
body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: azure;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  height: 85px;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

header > img {
  width: 70px;
  height: 70px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  gap: 20px;
}

span {
  display: flex;
   align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

label {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  gap: 5px;
}

input {
  background-color: azure;
  width: 400px;
  padding: 10px 20px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  font-family: inherit;
  height: 40px;
  width: 400px;
  margin-top: 50px;
  border-radius: 6px;
  background-color: black;
  color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover {
 box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.9);
}

.meme{
  position: relative;
  text-align: center;
  width: 500px;
  margin: 60px auto;
}

.meme-img{
  width: 100%;
}

.meme-text{
  position: absolute;
  left:50%;
  transform: translate(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px black;
  pointer-events: none;
}

.meme-text.top{
  top:10px;
}

.meme-text.bottom{
  bottom: 10px;
}